{% load comments %}
{% get_comment_form for wish as form %}
<div id="comment_form">
<table>
  <form action="{% comment_form_target %}" method="post" id="comment-form" name="comment-form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url wish_summary wish.id %}" />
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
  
    {{ form.comment }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
      </td>
    </tr>
  </form>
</table>
</div>