{% load pagination_tags %}
{% load templatefilters %}
{% load gravatar %}
{% load comments %}
{% get_comment_list for wish as comment_list %}

<ul class="comment-container">
{% autopaginate comment_list 10 %}
{% for comment in comment_list %}

    <li class="comment {% cycle 'even' 'odd' %}">
        <div class="comment-content">
            <div class="gravatar">{% gravatar comment.user 32 %}</div>
            <div class="comment-body">
            <span class="comment-author">{{ comment.user }}</span>
            <a href="#" class="timeago">{{ comment.submit_date|timeago }}</a>
            <div class="comment-message">{{ comment.comment }}</div>

            </div>
                        

        </div>
    </li>
{% endfor %}
</ul>
{% paginate %}