{% load gravatar %}
{% load templatefilters %}
{% load comments %}
<ul class="comment-container">

{% for comment in comments %}

    <li class="comment {% cycle 'even' 'odd' %}">
        <div class="comment-content" >
            <div class="gravatar">{% gravatar comment.user 32 %}</div>
            <div class="comment-body">
            <span class="comment-author">{{ comment.user }}</span>
            <a href="{% url wish_summary comment.object_pk %}?comment#{{ comment.id }}" class="timeago">{{ comment.submit_date|timeago }}</a>
            <div class="comment-message">{{ comment.comment }}</div>

            </div>
                        

        </div>
    </li>
{% endfor %}
</ul>