<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>NHL Wishlist - Coming Soon!</title>
<link href="/static/css/comingsoon.css" rel="stylesheet" type="text/css" media="screen" />

</head>

<body>
<div id="content">
<div id="contact">
<form action="/mailinglist/subscribe/" method="post">
{% csrf_token %}
{% if success_message %}
<div class="success">{{ success_message }}</div>
{% else %}
<input id="email" name="email" type="text" />
<input name="input" type="submit" />
{% endif %}
{% if error_message %}<div class="error">{{ error_message }}</div>{% endif %}
</form>
</div>
<div id="footer">
<span id="ontheweb">Follow Us: <a href="http://twitter.com/nhlwishlist" target="_blank"><img src="/static/images/twitter_1.png" width="32" height="32" alt="twitter" longdesc="http://twitter.com/nhlwishlist" title="http://twitter.com/nhlwishlist"/></a></span>
</div>
</div>
</body>
</html>